DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=wagering
DATABASE_PASSWORD=wagering
DATABASE_NAME=wagering

AWS_REGION=us-east-1
LOCALSTACK_PORT=4566
SQS_ENDPOINT=http://localhost:4566

PORT=3000
WORKER_PORT=3001
