DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=wagering
DATABASE_PASSWORD=wagering
DATABASE_NAME=wagering

AWS_REGION=us-east-1
LOCALSTACK_PORT=4566
SQS_ENDPOINT=http://localhost:4566

PORT=3000
WORKER_PORT=3001

KEYCLOAK_PORT=8080
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/wagering
KEYCLOAK_CLIENT_ID=wagering-api
KEYCLOAK_CLIENT_SECRET=wagering-api-secret
OIDC_AUDIENCE=wagering-api
